@import '../../../scss/variables';

.headerElement {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;

  font-family: $title-font;
  font-size: $normal-font-size;
  font-weight: 600;
  color: $white-color;
}

@media screen and (max-width: 768px) {
  .headerElement {
    font-size: $smaller-font-size;
    padding-left: 0;
    display: grid;
    align-items: center;
    height: 25px;
  }
}
