@import '../../scss/variables';

.notePage {
  height: 100vh;
  width: 100vw;
  background-color: $background-color;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: minmax(280px, 660px);
}
