@import '../../../scss/variables';

.notesTableHeader {
  background: $green-color;
  border-radius: 10px;
  padding: 0 20px;
  box-shadow: var(--primary-shadow);

  display: grid;
  grid-template-columns: repeat(5, 1fr) 80px;
  align-items: center;

  height: 100%;

  .headerItem {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 10px;

    font-family: $title-font;
    font-size: $normal-font-size;
    font-weight: 600;
    color: $white-color;
  }

  .headerItem:last-child {
    justify-self: end;
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .notesTableHeader {
    display: none;
  }
}
