@import '../../../scss/variables';

.tableHeaderItem {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;

  font-family: $title-font;
  font-size: $normal-font-size;
  font-weight: 600;
  color: $white-color;
}
