.iconButton {
  border: none;
  padding: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  width: 20px;
  height: 20px;

  &:active,
  &:hover {
    border: none;
  }

  &:hover {
    transform: translateX(4px);
  }

  &:active {
    transform: translateX(1px);
  }

  & img {
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
}
