@import '../../../scss/variables';

.categorySummary {
  height: 60px;
  padding: 0 20px;
  border-radius: 10px;
  background: $white-color;
  box-shadow: $primary-shadow;
  display: grid;

  .elementsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .categorySummary {
    grid-template-columns: 120px 1fr;
    height: auto;
    padding: 0;
    border-radius: 15px;

    .elementsList {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}
