.tabs {
  justify-self: center;
  display: grid;
  grid-template-columns: 300px 300px;
}

@media screen and (max-width: 768px) {
  .tabs {
    justify-self: stretch;
    grid-template-columns: 1fr 1fr;
  }
}
